.nav_headers{
    background-color:rgb(241, 160, 160)! important ;
}
.colornn1{
    color:rgb(97, 4, 139);
    font-size: 1.2rem;;
    font-family: cursive;
    font-weight: bolder;
}
.colornn2{
    color:rgb(219, 235, 7);
    font-size: 1.2rem;;
    font-family: cursive;
    font-weight: bolder;
}
.parent1{
    width:100%;
    padding: 50px 0px;
    background-color: aqua;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent2{
    width:90%;
    
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.childofp2_1{
    width:45%;
   
    background-color: rgb(147, 226, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.childofp2_2{
    width:45%;
    height: 350px;
    background-color: rgb(43, 226, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    object-fit: cover;
    
}
.child1_pp1{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: blue;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}
.cv{
    width: 100%;
   display: flex;
   align-items: center;

}
.cv1{
    width:150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 14, 212);
    color: aliceblue;
}

@media screen and (max-width:400px) {

    .childofp2_1{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .childofp2_2{
        width: 100%;
    }

    .child1_pp1{
        justify-content: center;
    }
    .cv{
        justify-content: center;
    }
}
a{
    text-decoration: none;
    color: antiquewhite;
}