.nav_headers{
    background-color:rgb(241, 160, 160)! important ;
}
.colornn1{
    color:rgb(97, 4, 139);
    font-size: 1.2rem;;
    font-family: cursive;
    font-weight: bolder;
}
.colornn2{
    color:rgb(219, 235, 7);
    font-size: 1.2rem;;
    font-family: cursive;
    font-weight: bolder;
}
.parent1{
    width:100%;
    padding: 50px 0px;
    background-color: aqua;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent2{
    width:90%;
    
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.childofp2_1{
    width:45%;
   
    background-color: rgb(147, 226, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.childofp2_2{
    width:45%;

    background-color: rgb(43, 226, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    object-fit: cover;
    
}
.child1_pp1{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: blue;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}
.cv{
    width: 100%;
   display: flex;
   align-items: center;

}
.cv1{
    width:150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 14, 212);
    color: aliceblue;
}

@media screen and (max-width:500px) {

    .childofp2_1{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .childofp2_2{
        width: 100%;
    }

    .child1_pp1{
        justify-content: center;
    }
    .cv{
        justify-content: center;
    }

    .parent2{
        flex-direction: column-reverse;

        }
}
a{
    text-decoration: none;
    color: antiquewhite;
}
.card{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    background-color: cadetblue;
    padding: 20px;
}
.cards{
    width: 250px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    gap: 20px;
    

}
.card_img{
    width:100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
 background-color: rgb(219, 136, 27);
}

.card_head{
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 background-color: rgb(90, 53, 4);
}

.card_content{
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
 background-color: rgb(145, 6, 145);
}
.card_img > img{
    width:100%;
    height: 100%;
}    